

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: rgb(53, 52, 52);
}

.container{

  background: rgb(155, 155, 155);
  width: 50%;
  height: 40%;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px rgb(212, 210, 210);
  padding-top: 15px;
  padding-bottom: 100px;
  margin-top: 20px;
  
}

h1 {
  margin-left: 40%;
  margin-top: 8%;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(85, 84, 84);
  font-style: italic;
}

p {
 color: rgb(85, 84, 84);
}

.bi-trash{
  display: none;
  padding-right: 20px;
}



.myLi:hover .bi-trash {
  display: inline;
  color: red;
  
}

.myLi {
  padding-top: 5px;
  

}

form{
  border: 1px solid grey;
  background-color: white;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10ox;
  box-shadow: 4px 4px 4px 2px rgba(10, 10, 10, 0.2)
}

input {
  outline: none;
  align-items: center;
  width: 80%;
  border: none;
  height: 30px;
  padding: 12px;
  margin: 3px;
  
}



ul {
  border-top:  1px solid grey;
  padding-top: 8px;
  

  
  
}

button:disabled {
  background-color: white;
  border: none;
  color: grey;
  font-size: larger;
}


button {
  background-color: white;
  border: none;
  color: rgb(56, 15, 207); 
  font-size: 20px;
}

p {
  border-top:  1px solid grey;
  padding-top: 15px;
  padding-left: 15px;
  
}

